@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.on-click {
  background-color: transparent;
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.on-click:hover {
  background-color: #edf4e6;
  /* Tailwind's hover:bg-gray-200 equivalent */
}

.on-click:active {
  background-color: #e4eed9;
  /* Background color when clicked */
}

.on-click-amzn {
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.on-click-amzn:hover {
  background-color: #407645;
  /* Tailwind's hover:bg-gray-200 equivalent */
}

.on-click-amzn:active {
  background-color: #4b8a51;
  /* Background color when clicked */
}

.on-click-sidebar {
  transition: background-color 0.3s ease;
  /* Smooth transition */
}

.on-click-sidebar:hover {
  background-color: #d6e5c4;
  /* Tailwind's hover:bg-gray-200 equivalent */
}

.on-click-sidebar:active {
  background-color: #e0ebd3;
  /* Background color when clicked */
}

.fixed {
  position: fixed;
  top: 0;
  width: 23rem;
  /* Ensure this matches the width in the component */
}

.max-h-custom {
  min-height: calc(100vh - 13.5rem);
}

.max-h-custom1 {
  max-height: calc(100vh - 16.5rem);
}

.min-h-custom1 {
  min-height: 80vh;
}

.max-h-custom2 {
  max-height: 70vh;
}



