@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* styles.css */

.on-click {
    background-color: transparent;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .on-click:hover {
    background-color: #edf4e6; /* Tailwind's hover:bg-gray-200 equivalent */
  }
  
  .on-click:active {
    background-color: #e4eed9; /* Background color when clicked */
  }